# Importar Pandas

In [ ]:
#importa pandas
import pandas as pd
import numpy as np

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [ ]:
# Crea una Serie de los numeros 10, 20 and 10.
serie1 = pd.Series([10, 20, 10])

In [ ]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
serie2 = pd.Series(['rojo', 'verde', 'azul'])

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'
df = pd.DataFrame( )

In [ ]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df['numeros'] = serie1

In [ ]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df['colores'] = serie2

# Leer un dataframe

In [ ]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'.
# El archivo está localizado en "data/avengers.csv"
avengers = pd.read_csv('data/avengers.csv')

# Sección nueva

# Inspeccionar un dataframe

In [ ]:
# Muestra las primeras 5 filas del DataFrame.
print(avengers.head(5))

In [ ]:
# Muestra las primeras 10 filas del DataFrame.
print(avengers.head(10))

In [ ]:
# Muestra las últimas 5 filas del DataFrame.
print(avengers.tail(5))

# Tamaño del DataFrame

In [ ]:
# Muestra el tamaño del DataFrame
print(avengers.shape)

# Data types en un DataFrame

In [ ]:
# Muestra los data types del dataframe
print(avengers.dtypes)

# Editar el indice (index)

In [ ]:
# Cambia el indice a la columna "fecha_inicio".
avengers = avengers.set_index('fecha_inicio')

# Ordenar el indice

In [ ]:
# Ordena el índice de forma descendiente
avengers = avengers.sort_index(ascending=False)

# Resetear el indice

In [ ]:
# Resetea el índice
avengers = avengers.reset_index()